body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased; /* Smooth font rendering */
  -moz-osx-font-smoothing: grayscale;
}

.about-container {
  width: 100%;
  background: linear-gradient(
    to right,
    #dbecfb,
    #dbf5ef
  ); /* Updated background gradient */
}

.about-main-content {
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
}

.about-intro-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh; /* Make the section take up the full viewport height */
  padding: 16px 0;
  justify-content: center;
  align-items: center;
}

.about-intro-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  align-items: center;
  justify-content: center;
  text-align: center; /* Ensure the text is centered within the intro-text div */
}

.about-title {
  font-size: 56px;
  color: #18181b; /* Darker text color for better contrast */
  font-weight: 900; /* Bolder text */
  line-height: 1.2; /* Improved line-height for better readability */
}

.about-subtitle {
  font-size: 24px;
  color: #4a4a4a; /* Slightly darker subtitle */
  font-weight: 500;
  line-height: 1.4;
}

.about-slider-wrapper {
  padding: 16px;
  background-color: white;
  z-index: 10;
  width: 100%;
}

.about-slider-header {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-slider-header > h2 {
  margin: 0;
  text-align: center;
  font-weight: 700;
}

.about-slider-header > hr {
  width: 20%;
  border-bottom: 2px solid rgb(153, 192, 214);
  opacity: 0.5;
}

.about-slider {
  padding: 2rem;
}

.about-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.about-card-image-container {
  width: 100%; /* Example width */
  height: 200px; /* Example height */
  overflow: hidden; /* Ensure any overflow is clipped */
}

.about-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.about-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 2rem 2rem 2rem;
  margin-top: 1rem;
}

.about-card-title {
  font-weight: 700;
}

.about-card-subtitle {
  color: #718096;
  margin-top: 2px;
  margin-bottom: 2rem;
}

.about-card-button {
  background-color: #18181b; /* Dark background for "Sign Up" button */
  color: #ffffff;
  padding: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  /* margin-right: 12px; */
  font-size: 18px;
  transition: background 0.3s ease;
}
.about-card-button:hover {
  background-color: #333333; /* Slightly lighter on hover */
}

.about-card-link {
  text-decoration: none;
  color: #ffffff;
}

.slick-slide > div {
  margin: 0 10px;
}
