.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .inner-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    max-width: 1000px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .img-container {
    flex: 1;
    max-width: 50%;
  }
  
  .img-container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  
  .form {
    flex: 1;
    padding: 40px;
    background-color: #FFE7D1;
    display: flex;
    flex-direction: column;
  }
  
  .h1-div {
    margin-bottom: 10px;
  }
  
  .form h1 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .black-line {
    display: block;
    width: 100px;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #1665C0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #1254A1;
  }
  
  @media (max-width: 768px) {
    .inner-container {
      flex-direction: column;
    }
  
    .img-container {
      max-width: 100%;
      height: 200px;
    }
  
    .form {
      padding: 10px;
    }
  }