/* Hom.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased; /* Smooth font rendering */
  -moz-osx-font-smoothing: grayscale;
}

.scroll-up-btn {
  position: fixed;
  bottom: 25px;
  right: 30px;
  height: 40px;
  width: 40px;
  background-color: #DBF5EF;
  border-radius: 50%;
  border: none;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-content img {
  transition: transform 0.3s ease;
}

.card:hover .card-content img {
  transform: scale(1.02);
}

.hom-container {
  width: 100%;
  background: linear-gradient(to right, #DBECFB, #DBF5EF); /* Updated background gradient */
}

.main-content {
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;

}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0;
}

.animation-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.lottie-animation {
  width: 500px;  /* Increased size of the Lottie animation */
  height: 500px;
}

.intro-text {
  flex: 1;
  padding: 50px;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 56px !important;
  color: #18181B; /* Darker text color for better contrast */
  font-weight: 900; /* Bolder text */
  line-height: 1.2; /* Improved line-height for better readability */
}

.subtitle {
  font-size: 20px !important;
  color: #4A4A4A; /* Slightly darker subtitle */
  font-weight: 500;
  line-height: 1.4;
}

.button-group {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.btn-default {
   background-color: #18181B; 
  color: #ffffff;
  padding: 10px 36px !important; 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18px !important;
  text-decoration: none;
  transition: background 0.3s ease; 
}

.btn-default:hover {
  background-color: #333333; /* Slightly lighter on hover */
}

.btn-outline {
  background-color: #ffffff; /* Light gray background for "Login" button */
  color: #18181B;
  padding: 10px 36px !important; 
  border: 2px solid #18181B;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px ;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-outline:hover {
  background-color: #18181B;
  color: #ffffff;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 100px;
}

.card {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.card-header {
  padding: 16px;
}

.card-title {
  font-size: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  color: #49525f;
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-description {
  flex-grow: 1;
  margin-bottom: 25px;
  margin-top: 15px;
}

.card-button {
  width: 100%;
  padding: 12px 0;
  margin-top: auto; /* to Ensures button stays at the bottom */
}

@media (max-width: 768px) {
  .intro-section {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .lottie-animation {
    width: 100%; /* Make the animation responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .title {
    font-size: 36px; /* Reduce title size */
  }

  .subtitle {
    font-size: 18px; /* Reduce subtitle size */
  }

  .button-group {
    flex-direction: column;
    margin-top: 8px; 
  }

  .btn-default, .btn-outline {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 8px; /* Add bottom margin for spacing */
  }

  .card-grid {
    grid-template-columns: 1fr; /* Stack cards vertically */
  }
}
@media (max-width: 443px) {
  .intro-text{
    padding: 20px;
  }
}
@media (max-width: 382px) {
  .title{
    font-size: 45px !important;
  }
}
@media (max-width: 321px) {
  .title{
    font-size: 40px !important;
  }
}