.card-title
{
  font-size: x-large;
}

.card-text{
   font-family :Georgia, 'Times New Roman', Times, serif;
   font-size: larger;

   
}
 
.gradient_background {
  background: linear-gradient(90deg, #fd66d0,#d6a3e6);
  height: auto;
  width: auto;
}

.craftgradient_background{
  background: linear-gradient(90deg, #81C784,#00BCD4);
  height: auto;
  width: auto;
}