/* Navbar.css (CSS) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2 rem ;
    background-color: black;
    color: white;
  }
  
  .logo img{
    height : 50px;
    width :200;
  }
  
  .nav-links {
    list-style : none ;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
    padding: 0.5rem ,1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .auth-buttons button {
    margin-left: 1rem;
    padding: 0.5rem 1rem ;
    cursor: pointer;
  }
  
  .sign-up {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .sign-in {
    background-color: #2196F3;
    color: white;
    border: none;
  }
  